planet {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-gap: 80px 40px;
    grid-template-areas: "dunes dunes water"
                       "grass . water"
                       "grass rocky rocky";

}

dunes {
    grid-area: dunes;
}

grass {
    grid-area: grass;
}

rocky {
    grid-area: rocky;
}

water {
    grid-area: water;
}