planet {
    display: grid;
    grid-template-columns: 1fr 150px 150px 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 5%;
}

terrain {
    grid-row: span 2;

}

rocky {
    width: 50%;
    justify-self: end;
}

water {
    height: 100px;
    align-self: end;
}